<div class="flex flex-column relative">
    <div [style]="{ width: '50rem' }">
        <div class="relative">
            <h1>
                {{company.name}}
            </h1>
            <p-button class="absolute top-0 right-0" (onClick)="setCompanieDeselected()" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"></p-button>
        </div>
        <div class="grid nested-grid">
            <div class="col-3" [class.none]="company.logoLoaded">
                <i class="pi pi-building text-8xl"></i>
            </div>
            <p-image class="col-3" [class.none]="!company.logoLoaded" src="{{company.logoLoaded}}" width="150rem"></p-image>
            <div>
                <h3>{{company.representant.name}}</h3>
                <h3>{{company.address.city}}</h3>
                <h4 [style]="{color: '#131231'}">Rua: {{company.address.street}} {{company.address.number}}</h4>
            </div>
        </div>
        <div>
            <p-rating [cancel]="false" [(ngModel)]="company.reviewAverage" [readonly]="true"></p-rating>
        </div>
    </div>
    <p-divider></p-divider>
    <div [style]="{ marginBottom: '9.5rem' }">
        @for (review of company.reviews; track $index) {
            <div class="flex flex-column">
                <h3>{{review.personName}}</h3>
                <p-rating [cancel]="false" [readonly]="true" [(ngModel)]="review.rating"></p-rating>
                <textarea class="mt-3" [(ngModel)]="review.comment" rows="5" [disabled]="true"></textarea>
            </div>
            <p-divider></p-divider>
        }
    </div>
    <app-review [companyId]="company.id" (reviewAdded)="reloadReviews()" [style]="{ width: '52.5rem' }"></app-review>
</div>